/Code
/JetBrains
/MangoHud
/Postman
/WebCord
/cef_user_data
/dconf
/discord
/discord-screenaudio
/glib-2.0
/goverlay
/htop
/kglobalshortcutsrc
/lutris
/menus
/mimeapps.list
/pavucontrol.ini
/pulse
/pupgui
/systemd
/thorium
/user-dirs.dirs
/user-dirs.locale
/xfce4
/yay
/Vencord
/retroarch
/rpcs3
/session
/spicetify
/spotify
/vlc
/PCSX2
/nwg-look
/noisetorch
/libvirt
/kde.org
/libreoffice
/xarchiver
/xsettingsd
dolphinrc
knfsshare
QtProject.conf
/flameshot
/gtk-3.0
/gtk-4.0
/heroic
/Electron
/qBittorrent
/BraveSoftware
/btop
/lf
/ranger
/vesktop
