@import "mocha.css";

* {
    font-family: "Hack Nerd Font";
    font-weight: bold;
    font-size: 13px;
    border-radius: 8px 8px 8px 8px;
}

window#waybar {
  background-color: transparent;
  color: #ffffff;
  /* border-radius: 8px; */
  /* border-width: 3px; */
  /* border-color: #3b4252; */
  /* border-style: solid; */
}

window#waybar.hidden {
    opacity: 0.2;
}

/* #waybar.empty #window { */
/*} */

#window {
    color: #64727d;
}

button {
}

button:hover {
    background: inherit;
}

#workspaces button {
  background-color: @crust;
}


/* #workspaces button:hover {} */

#workspaces button.active {
	color:  @blue;
  border: @blue 2px solid;
}

#workspaces button.urgent {
    background-color: @red;
}

#clock,
#battery,
#temperature,
#backlight,
#pulseaudio,
#tray,
#window,
#cpu,
#network,
#memory,
#workspaces {
  /* background-color: #3b4252; */
  background-color: @crust;
  /* padding: 0em 2em; */

  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;


  margin-right: 5px;

  /* font-size: 20px; */
}

#workspaces {
    color: @text;
 }  

#clock {
    color: @red;
}

#cpu{
  color: @pink;
}

#memory{
  color: @yellow;
}

#backlight {
    color: @green;
}

#battery {
    color: @sky;
}

#pulseaudio {
    color: @sapphire;

}

#window {
    color: white;
}


#battery icon {
    color: red;
}

#battery.charging,
#battery.plugged {
    color: black;
    background-color: @green;
    font-weight: bold;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.warning:not(.charging) {
    background-color: @red;
    color: white;
    animation-name: blink;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.critical:not(.charging) {
    background-color: @red;
    color: white;
    animation-name: blink;
    animation-duration: 1.5s;  
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#tray {
    color: #ffffff;
}

#privacy-item.screenshare,
#privacy-item.audio-in{
  background-color: @peach;
  color: @crust;
  padding-left: 15px;
  padding-right: 15px;
}

