* {
    font-family: "Hack Nerd Font";
    font-weight: bold;
    font-size: 13px;

  }

window#waybar {
    background-color: #1e1e2e;
}

#window label {
    background-color: red;
    font-weight: bold;
}

#workspaces button{
    color: #11111b;
    background-color: #7f849c;
    margin-right: 4px;
    margin-bottom: 5px;
    margin-top: 5px;
    border-radius: 15px;
    padding: 20px;
    padding-top: 6px;
    padding-bottom: 6px;
    font-weight: bold;
}

#workspaces button.active{
    color: #11111b;
    background-color: #74c7ec;
    margin-right: 4px;
    margin-bottom: 5px;
    margin-top: 5px;
    border-radius: 15px;
    padding: 20px;
    padding-top: 6px;
    padding-bottom: 6px;
    font-weight: bold;
}

#clock,
#battery,
#temperature,
#backlight,
#pulseaudio,
#tray,
#window,
#cpu,
#network,
#memory,
#privacy-item.screenshare,
#privacy-item.audio-in{ 
    color: #11111b;
    margin-right: 4px;
    margin-bottom: 5px;
    margin-top: 5px;
    border-radius: 15px;
    padding: 20px;
    padding-top: 6px;
    padding-bottom: 6px;
    font-weight: bold;

    /* margin-top: 10px; */
}

#clock {
  background-color: #f5c2e7;
}
#network{
  background-color: #94e2d5;
}

#cpu{
  background-color: #cba6f7;
}

#memory{
  background-color: #eba0ac;
}

#backlight {
  background-color: #fab387;
}

#battery {
  background-color: #f9e2af;
}

#pulseaudio {
background-color: #a6e3a1;
}

#tray {
    background-color: #585b70;
}

#privacy-item.screenshare,
#privacy-item.audio-in{
  background-color: #f38ba8;
}

