@import "mocha.css";

* {
    font-family: "Hack Nerd Font";
    font-weight: bold;
    font-size: 13px;
}

window#waybar {
    background: transparent;
}

window#waybar.hidden {
    opacity: 0.2;
}

#waybar.empty #window {
    background-color: transparent;
}

#window {
    background-color: @crust;
    font-size: 14px;
    font-weight: bold;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
}

#workspaces button {
    /*padding: 0 4px;*/
    background-color: @crust;
}

#workspaces button:hover {}

#workspaces button.active {
    /*    box-shadow: inset 0 -2px #c9545d; */
    background-color: @crust;
    color: #c9545d;
    text-decoration: none;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

.custom-spotify,
#clock,
#battery,
#temperature,
#backlight,
#pulseaudio,
#tray,
#window,
#privacy,
#workspaces {
    padding: 0 15px;
    margin: 0 2px;
    border-radius: 7px;
}

#window {
    background: @crust;
    color: white;
}

#workspaces {
    color: @text;
    background-color: @crust;
}

#backlight {
    color: @red;
    background-color: @crust;
}

#pulseaudio {
    color: @sky;
    background-color: @crust;

}

#battery {
    background-color: @crust;
    color: @yellow;
}

#clock {
    color: @lavender;
    background-color: @crust;
}

#battery icon {
    color: red;
}

#battery.charging,
#battery.plugged {
    color: black;
    background-color: @green;
    font-weight: bold;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.warning:not(.charging) {
    background-color: @red;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.critical:not(.charging) {
    background-color: @red;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#tray {
    background-color: @crust;
    color: #ffffff;
}

#privacy {
  background-color: @peach;
  color: @crust;
}

